@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.app {
    width: 100%;
    height: 100rem;
    background: var(--bg-color);
}

[data-theme="light"] {
    --bg-color: #6C46DC;
    --tx-color: #000;
    --btn-color: #D95281;
    --btn-hvr: #AD3F66;
    --tx-hvr: #fff;
}

[data-theme="dark"] {
    --bg-color: #4A3A7B;
    --tx-color: #fff;
    --btn-color: #AD3F66;
    --btn-hvr: #D95281;
    --tx-hvr: #000;
}